@media screen and (max-width: 639px) {
    #collage #originalImage, #collage #originalImageSecondPlayer {
        width: 105px;
        height: 105px;
    }

    #player1 {
        max-width: 100%;
        height: 223px;
        width: 229px;
    }

    #player2 {
        max-width: 100%;
        width: 217px;
        height: 223px;
        position: relative;
    }

    #collage #fillable, #collage #fillableSecondPlayer {
        width: 101px;
        height: 101px;
    }

    #collage #fillable li, #collage #fillableSecondPlayer li {
        width: 25px;
        height: 25px;
    }

    #collage #sortable, #collage #sortableSecondPlayer {
        width: 101px;
        height: 101px;
    }

    #collage #sortable li, #collage #sortableSecondPlayer li {
        width: 25px;
        height: 25px;
    }

    #collage #fillable {
        position: absolute;
        left: 16px;
    }

    #collage #sortable {
        position: absolute;
        top: 151px;
        left: 16px;
    }

    #collage #originalImageBox {
        position: absolute;
        left: 125px;
    }

    #collage #fillableSecondPlayer {
        position: absolute;
        right: 110px;
    }

    #collage #originalImageSecondPlayer {
        position: relative;
        left: 109px;
        top: 2px;
    }

    #collage #sortableSecondPlayer {
        position: absolute;
        left: 0;
        top: 118px;
    }

    #collage button {
        font-size: 10px;
    }

}