@media screen and (max-width: 692px) {

    #player1 {
        max-width: 100%;
        height: 306px;
        width: 304px;
    }

    #player2 {
        max-width: 100%;
        width: 305px;
        height: 307px;
        position: relative;
    }

    #collage #originalImageBox {
        position: absolute;
        left: 157px;
    }

    #collage #originalImageSecondPlayer {
        position: relative;
        left: 152px;
        top: 2px;
    }

    #collage #fillableSecondPlayer {
        position: absolute;
        right: 159px;
    }

    #collage #fillable {
        position: relative;
        right: 0;
    }
}