body {
    background-color: burlywood;
    text-align: center;
    font-family: cursive;
}

#button {
    font-family: fantasy;
}

h2 {
    position: relative;
    bottom: 20px;
}

#insertNames {
    position: relative;
    bottom: 30px;
}

#form, #buonDivertimento {
    position: relative;
    bottom: 35px;
}